@model OrderViewModel

@{
    ViewData["Title"] = "Order";
}

<h2>Order a framed version</h2>

<div class="container">
    <div class="h3 bottom-margin-default">Order a framed version of your framed picture.</div>
    <div class="text bottom-margin-small">We've got this address on record for you:</div>
    <div class="text text-info bottom-margin-small">@Model.Address</div>

    <div class="text">If this isn't correct, please contact us.</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
